<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802742259656-j7hkl531gijlf1glfagpbb4fegk74cdp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802742259656-j7hkl531gijlf1glfagpbb4fegk74cdp</string>
	<key>API_KEY</key>
	<string>AIzaSyCD0l2kljtW0PMrKl91nTEClhJOjdqkAWU</string>
	<key>GCM_SENDER_ID</key>
	<string>802742259656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>A00827216.loginFirebase</string>
	<key>PROJECT_ID</key>
	<string>prepanet-appmovil</string>
	<key>STORAGE_BUCKET</key>
	<string>prepanet-appmovil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802742259656:ios:7c2f8f65fef9805e92bafd</string>
	<key>DATABASE_URL</key>
	<string>https://prepanet-appmovil-default-rtdb.firebaseio.com</string>
</dict>
</plist>